/* Changes default elements */
body {
	display:grid;
	grid-template-columns: 240px auto;
	margin:0;
	height:100%;
}
input {
	font-size:18px;
}
p { 
	font-size:14px;
	align-content:center;
}
a {
	text-decoration:none;
}
a:hover {
	color: lightgray;
}
	a:link {
		color: white;
		text-decoration: none;
	}
	a:visited {
		color: white;
		text-decoration: none;
	}
	a:link:hover {
		color: lightgray;
		text-decoration: none;
	}

	a:visited:hover {
		color: lightgray;
		text-decoration: none;
	}
button {
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	align-items:center;
	padding:4px;
}
textarea {
	align-content: center;
	padding:5px;
	width: 30%;
}
img {
	margin: 2px;
}
dialog {
	padding: 30px 50px;
	text-align: center;
}


.head_text {
	color: white;
	text-align:center;
	font-size:18px;
}

/* Blocks */

.GridTwoColumns {
	display:grid;
	grid-template-columns:1fr 1fr;
	justify-self:center;
}
.head {
	background-color: #00bbff;
	height:100%;
	align-content:center;
	min-height: 600px;
}
.MainBlock {
	padding:10px;
	align-content: center;
	vertical-align:central;
	background-color: lightgray;
}
.VM_Block {
	background-color:white;
	border: 0px solid #0bf;
	margin:10px;
	border-top-width: 2px;
}
.TBHeadBlock {
	background-color: #efefef;
	padding:10px;
}
.VM_Table {
	overflow: auto;
	max-height: 2000px;
	margin: 10px;
	background-color: #efefef;
}
.VM_Table:last-child {
	border:3px solid black;
}
.VM_VH {
	text-align:center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border: 1px solid gray;
	border-right: 0px;
	border-left: 0px;
}
.DealVH {
	border: 1px solid black;
	margin: 10px;
	width: 80%;
}
#AuthorizationDiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 10px;
	width: 600px;
}
#CalendarGrid {
	display: grid;
	margin: 10px;
	width: 700px;
	justify-self: center;
	border: 2px solid black;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Flex {
	display: flex;
	justify-content: space-between;
}
.BlueButton {
	color:white;
	background-color:#0bf;
}
#DealsBlock {
	overflow:auto;
	max-height:2000px;
}

.Margin10 {
	margin:10px;
}
.Margin3 {
	margin:3px;
}
.WhiteBack {
	background-color:white;
}
.Padding5 {
	padding: 5px;
}
.BorderGreen {
	border-color: green;
}
.GreenText {
	color:green;
}
.RedText {
	color:red;
}
.BorderRed {
	border-color: red;
}
.TextAlign {
	text-align:center;
}