USE [master]
GO
/****** Object:  Database [DB_VendingMachines]    Script Date: 14.10.2025 14:32:39 ******/
CREATE DATABASE [DB_VendingMachines]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_VendingMachines', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_VendingMachines.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_VendingMachines_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_VendingMachines_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_VendingMachines].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_VendingMachines]
GO
/****** Object:  Table [dbo].[Brones]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vm_id] [nvarchar](50) NOT NULL,
	[user_id] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Brones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companies]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company] [nvarchar](50) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CriticalThresholdTemplate]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriticalThresholdTemplate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[critical_threshold_template] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CriticalThresholdTemplate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deals]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[end_date] [date] NOT NULL,
	[is_accept] [bit] NOT NULL CONSTRAINT [DF_Deals_is_accept]  DEFAULT ((0)),
	[user_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Deals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events_VM]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events_VM](
	[id_vm] [nvarchar](50) NOT NULL,
	[id_event] [int] NOT NULL,
	[last_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Events_VM] PRIMARY KEY CLUSTERED 
(
	[id_vm] ASC,
	[id_event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[issues_found] [nvarchar](max) NULL,
	[vending_machine_id] [nvarchar](50) NOT NULL,
	[id_employee] [nvarchar](50) NOT NULL,
	[work_description] [nvarchar](max) NOT NULL,
	[is_accept] [bit] NOT NULL CONSTRAINT [DF_Maintenance_IsAccept]  DEFAULT ((0)),
 CONSTRAINT [PK_Maintenance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModelsMachine]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelsMachine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ModelsMachine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notes]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[text] [nvarchar](max) NOT NULL,
	[creator_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationTemplates]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTemplates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[notification_template] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NotificationTemplates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Operators]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[id] [int] NOT NULL,
	[operator] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Operators] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[id] [int] NOT NULL,
	[PaymentType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [nvarchar](60) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[min_stock] [int] NOT NULL,
	[vending_machine_id] [nvarchar](50) NOT NULL,
	[description] [nvarchar](250) NOT NULL,
	[quantity_available] [int] NOT NULL,
	[sales_trend] [float] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [nvarchar](60) NOT NULL,
	[quantity] [nchar](10) NOT NULL,
	[total_price] [float] NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[payment_method] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServicePriorities]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePriorities](
	[id] [int] NOT NULL,
	[service_priority] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ServicePriorities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Settings_VM]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings_VM](
	[id_vm] [nvarchar](50) NOT NULL,
	[id_setting] [int] NOT NULL,
 CONSTRAINT [PK_Settings_VM] PRIMARY KEY CLUSTERED 
(
	[id_vm] ASC,
	[id_setting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SettingTypes]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[setting] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SettingTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Timezones]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timezones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timezone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Timezones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[role] [int] NOT NULL,
	[is_manager] [bit] NOT NULL,
	[is_engineer] [bit] NOT NULL,
	[is_technician] [bit] NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[image] [nvarchar](max) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[company] [int] NOT NULL,
	[model] [int] NOT NULL,
	[work_mode] [int] NOT NULL,
	[location] [nvarchar](150) NOT NULL,
	[place] [nvarchar](50) NOT NULL,
	[coordinates] [nvarchar](150) NULL,
	[serial_number] [nvarchar](50) NOT NULL,
	[working_hours] [nvarchar](50) NULL,
	[timezone] [int] NULL,
	[matrix] [int] NULL,
	[critical_threshold_template] [int] NULL,
	[notification_template] [int] NULL,
	[user_id] [nvarchar](50) NULL,
	[operator] [int] NULL,
	[rfid_service] [nvarchar](40) NULL,
	[rfid_cash_collection] [nvarchar](40) NULL,
	[rfid_loading] [nvarchar](40) NULL,
	[kit_online_id] [nvarchar](30) NULL,
	[service_priority] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[status] [int] NULL,
	[install_date] [datetime] NULL,
	[last_maintenance_date] [datetime] NULL,
	[total_income] [float] NULL,
	[manager] [nvarchar](50) NULL,
	[engineer] [nvarchar](50) NULL,
	[technician] [nvarchar](50) NULL,
	[monets] [int] NULL,
	[kopurs] [int] NULL,
	[sdacha] [int] NULL,
 CONSTRAINT [PK_VendingMachines_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VM_Payments]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VM_Payments](
	[vm_id] [nvarchar](50) NOT NULL,
	[payment_type_id] [int] NOT NULL,
 CONSTRAINT [PK_VM_Payments] PRIMARY KEY CLUSTERED 
(
	[vm_id] ASC,
	[payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkModes]    Script Date: 14.10.2025 14:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkModes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WorkModes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Brones] ON 

INSERT [dbo].[Brones] ([id], [vm_id], [user_id], [date]) VALUES (4, N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'01f0b7d3-9b64-49d0-b63e-9190d736d091', CAST(N'2025-10-15' AS Date))
INSERT [dbo].[Brones] ([id], [vm_id], [user_id], [date]) VALUES (5, N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', N'01f0b7d3-9b64-49d0-b63e-9190d736d091', CAST(N'2025-10-15' AS Date))
SET IDENTITY_INSERT [dbo].[Brones] OFF
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([id], [company]) VALUES (1, N'ООО Торговые Аппараты')
INSERT [dbo].[Companies] ([id], [company]) VALUES (2, N'ООО ВендингСервис Плюс')
SET IDENTITY_INSERT [dbo].[Companies] OFF
SET IDENTITY_INSERT [dbo].[CriticalThresholdTemplate] ON 

INSERT [dbo].[CriticalThresholdTemplate] ([id], [critical_threshold_template]) VALUES (1, N'Стандартный')
INSERT [dbo].[CriticalThresholdTemplate] ([id], [critical_threshold_template]) VALUES (2, N'Расширенный')
INSERT [dbo].[CriticalThresholdTemplate] ([id], [critical_threshold_template]) VALUES (3, N'Не установлено')
SET IDENTITY_INSERT [dbo].[CriticalThresholdTemplate] OFF
SET IDENTITY_INSERT [dbo].[Deals] ON 

INSERT [dbo].[Deals] ([id], [date], [end_date], [is_accept], [user_id]) VALUES (1, CAST(N'2025-10-02' AS Date), CAST(N'2026-08-01' AS Date), 1, N'01f0b7d3-9b64-49d0-b63e-9190d736d091')
INSERT [dbo].[Deals] ([id], [date], [end_date], [is_accept], [user_id]) VALUES (2, CAST(N'2025-10-02' AS Date), CAST(N'2026-10-01' AS Date), 0, N'108519e5-d8b4-419a-ac60-4bedecc9e204')
SET IDENTITY_INSERT [dbo].[Deals] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([id], [event]) VALUES (1, N'Продажа')
INSERT [dbo].[Events] ([id], [event]) VALUES (2, N'Инкасация')
INSERT [dbo].[Events] ([id], [event]) VALUES (3, N'пополнение товаров')
SET IDENTITY_INSERT [dbo].[Events] OFF
INSERT [dbo].[Events_VM] ([id_vm], [id_event], [last_date]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 1, CAST(N'2025-02-10 00:00:00.000' AS DateTime))
INSERT [dbo].[Events_VM] ([id_vm], [id_event], [last_date]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 2, CAST(N'2025-02-24 00:00:00.000' AS DateTime))
INSERT [dbo].[Events_VM] ([id_vm], [id_event], [last_date]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 3, CAST(N'2025-01-11 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Maintenance] ON 

INSERT [dbo].[Maintenance] ([id], [date], [issues_found], [vending_machine_id], [id_employee], [work_description], [is_accept]) VALUES (1, CAST(N'2024-09-13 16:44:04.000' AS DateTime), N'Зависла сессия оплаты', N'a977e322-192c-4567-9f5f-36f504bfc13d', N'7a051229-40bb-443e-80b8-024cb239f52b', N'Замена дисплея', 1)
INSERT [dbo].[Maintenance] ([id], [date], [issues_found], [vending_machine_id], [id_employee], [work_description], [is_accept]) VALUES (2, CAST(N'2024-04-25 06:59:09.000' AS DateTime), N'Проблемы с термобумагой', N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', N'7a051229-40bb-443e-80b8-024cb239f52b', N'Чистка внутренних узлов', 1)
INSERT [dbo].[Maintenance] ([id], [date], [issues_found], [vending_machine_id], [id_employee], [work_description], [is_accept]) VALUES (3, CAST(N'2024-07-12 19:03:57.000' AS DateTime), N'Проблемы с термобумагой', N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'c59a07db-17d1-4769-9d5c-19c0ab4d435c', N'Ремонт купюроприемника', 1)
GO
SET IDENTITY_INSERT [dbo].[Maintenance] OFF
SET IDENTITY_INSERT [dbo].[ModelsMachine] ON 

INSERT [dbo].[ModelsMachine] ([ID], [Model]) VALUES (1, N'Bianchi BVM 972')
INSERT [dbo].[ModelsMachine] ([ID], [Model]) VALUES (2, N'Rheavendors Luce E5')
INSERT [dbo].[ModelsMachine] ([ID], [Model]) VALUES (3, N'Unicum Rosso')
SET IDENTITY_INSERT [dbo].[ModelsMachine] OFF
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([id], [title], [text], [creator_id]) VALUES (1, N'Titke', N'from leo', N'01f0b7d3-9b64-49d0-b63e-9190d736d091')
INSERT [dbo].[Notes] ([id], [title], [text], [creator_id]) VALUES (3, N'new note', N'created with post', N'01f0b7d3-9b64-49d0-b63e-9190d736d091')
INSERT [dbo].[Notes] ([id], [title], [text], [creator_id]) VALUES (6, N'My first note', N'not empty', N'7a051229-40bb-443e-80b8-024cb239f52b')
SET IDENTITY_INSERT [dbo].[Notes] OFF
SET IDENTITY_INSERT [dbo].[NotificationTemplates] ON 

INSERT [dbo].[NotificationTemplates] ([id], [notification_template]) VALUES (1, N'Стандартный')
INSERT [dbo].[NotificationTemplates] ([id], [notification_template]) VALUES (2, N'Расширенный')
INSERT [dbo].[NotificationTemplates] ([id], [notification_template]) VALUES (3, N'Не установлено')
SET IDENTITY_INSERT [dbo].[NotificationTemplates] OFF
INSERT [dbo].[Operators] ([id], [operator]) VALUES (1, N'Билайн')
INSERT [dbo].[Operators] ([id], [operator]) VALUES (2, N'МТС')
INSERT [dbo].[Operators] ([id], [operator]) VALUES (3, N'Т2')
INSERT [dbo].[PaymentTypes] ([id], [PaymentType]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentTypes] ([id], [PaymentType]) VALUES (2, N'Qr-код')
INSERT [dbo].[PaymentTypes] ([id], [PaymentType]) VALUES (3, N'Карта')
INSERT [dbo].[Products] ([id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'069d1026-82b5-4365-8481-1b38fe50307c', N'Трюфельный макиато', 105.2, 7, N'70f22c9f-de0a-41a9-9a53-cabf42688d47', N'Имеет интенсивный вкус с нотками шоколадного трюфеля.', 29, 1.14)
INSERT [dbo].[Products] ([id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'075ac323-7649-44e8-bbff-60cbda965c47', N'Фисташковый мокко', 133.4, 18, N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', N'Имеет ореховый оттенок с нежной фисташковой ноткой.', 81, 5.55)
INSERT [dbo].[Products] ([id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'121d56e4-dc5b-43c3-8658-d1a00f8cbf76', N'Карамельно-соленый мокко', 45.53, 8, N'4daae871-71ac-44da-8b58-dcf1a2ae907a', N'Имеет необычный вкус с оттенком морской соли.', 92, 8.15)
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [role]) VALUES (1, N'Персонал')
INSERT [dbo].[Roles] ([id], [role]) VALUES (2, N'Франчайзи')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([id], [product_id], [quantity], [total_price], [timestamp], [payment_method]) VALUES (3, N'a90eaff4-e8bd-400f-a4b9-63cc6e0bcb54', N'5         ', 672.55, CAST(N'2024-11-27 14:47:37.000' AS DateTime), 1)
INSERT [dbo].[Sales] ([id], [product_id], [quantity], [total_price], [timestamp], [payment_method]) VALUES (4, N'f3dc17fc-f9fe-4beb-93f4-a27a02adb152', N'5         ', 608.55, CAST(N'2025-01-16 04:40:42.000' AS DateTime), 2)
INSERT [dbo].[Sales] ([id], [product_id], [quantity], [total_price], [timestamp], [payment_method]) VALUES (5, N'e9aa2886-0ba0-4b7a-96dc-078855f99872', N'2         ', 279.1, CAST(N'2025-01-13 06:51:25.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Sales] OFF
INSERT [dbo].[ServicePriorities] ([id], [service_priority]) VALUES (1, N'Низкий')
INSERT [dbo].[ServicePriorities] ([id], [service_priority]) VALUES (2, N'Средний')
INSERT [dbo].[ServicePriorities] ([id], [service_priority]) VALUES (3, N'Высокий')
INSERT [dbo].[Settings_VM] ([id_vm], [id_setting]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 3)
INSERT [dbo].[Settings_VM] ([id_vm], [id_setting]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 6)
INSERT [dbo].[Settings_VM] ([id_vm], [id_setting]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 8)
SET IDENTITY_INSERT [dbo].[SettingTypes] ON 

INSERT [dbo].[SettingTypes] ([id], [setting]) VALUES (1, N'Audit2.png')
INSERT [dbo].[SettingTypes] ([id], [setting]) VALUES (2, N'ControlMode.png')
INSERT [dbo].[SettingTypes] ([id], [setting]) VALUES (3, N'DifferentsSettings.png')
SET IDENTITY_INSERT [dbo].[SettingTypes] OFF
INSERT [dbo].[Statuses] ([id], [status], [color]) VALUES (1, N'Обслуживается', N'w')
INSERT [dbo].[Statuses] ([id], [status], [color]) VALUES (2, N'Работает', N'w')
INSERT [dbo].[Statuses] ([id], [status], [color]) VALUES (3, N'Сломан', N'w')
SET IDENTITY_INSERT [dbo].[Timezones] ON 

INSERT [dbo].[Timezones] ([id], [timezone]) VALUES (1, N'UTC+1')
INSERT [dbo].[Timezones] ([id], [timezone]) VALUES (2, N'UTC+2')
INSERT [dbo].[Timezones] ([id], [timezone]) VALUES (3, N'UTC+3')
SET IDENTITY_INSERT [dbo].[Timezones] OFF
INSERT [dbo].[VM_Payments] ([vm_id], [payment_type_id]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 1)
INSERT [dbo].[VM_Payments] ([vm_id], [payment_type_id]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 4)
INSERT [dbo].[VM_Payments] ([vm_id], [payment_type_id]) VALUES (N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', 1)
SET IDENTITY_INSERT [dbo].[WorkModes] ON 

INSERT [dbo].[WorkModes] ([id], [mode]) VALUES (1, N'Стандартный')
INSERT [dbo].[WorkModes] ([id], [mode]) VALUES (2, N'Тестовый')
SET IDENTITY_INSERT [dbo].[WorkModes] OFF
ALTER TABLE [dbo].[Brones]  WITH CHECK ADD  CONSTRAINT [FK_Brones_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Brones] CHECK CONSTRAINT [FK_Brones_Users]
GO
ALTER TABLE [dbo].[Brones]  WITH CHECK ADD  CONSTRAINT [FK_Brones_VendingMachines] FOREIGN KEY([vm_id])
REFERENCES [dbo].[VendingMachines] ([id])
GO
ALTER TABLE [dbo].[Brones] CHECK CONSTRAINT [FK_Brones_VendingMachines]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_Users]
GO
ALTER TABLE [dbo].[Events_VM]  WITH CHECK ADD  CONSTRAINT [FK_Events_VM_Events] FOREIGN KEY([id_event])
REFERENCES [dbo].[Events] ([id])
GO
ALTER TABLE [dbo].[Events_VM] CHECK CONSTRAINT [FK_Events_VM_Events]
GO
ALTER TABLE [dbo].[Events_VM]  WITH CHECK ADD  CONSTRAINT [FK_Events_VM_VendingMachines] FOREIGN KEY([id_vm])
REFERENCES [dbo].[VendingMachines] ([id])
GO
ALTER TABLE [dbo].[Events_VM] CHECK CONSTRAINT [FK_Events_VM_VendingMachines]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Users] FOREIGN KEY([id_employee])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_Users]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_VendingMachines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[VendingMachines] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_VendingMachines]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_Users] FOREIGN KEY([creator_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_VendingMachines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[VendingMachines] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_VendingMachines]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_PaymentTypes] FOREIGN KEY([payment_method])
REFERENCES [dbo].[PaymentTypes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_PaymentTypes]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
ALTER TABLE [dbo].[Settings_VM]  WITH CHECK ADD  CONSTRAINT [FK_Settings_VM_SettingTypes] FOREIGN KEY([id_setting])
REFERENCES [dbo].[SettingTypes] ([id])
GO
ALTER TABLE [dbo].[Settings_VM] CHECK CONSTRAINT [FK_Settings_VM_SettingTypes]
GO
ALTER TABLE [dbo].[Settings_VM]  WITH CHECK ADD  CONSTRAINT [FK_Settings_VM_VendingMachines] FOREIGN KEY([id_vm])
REFERENCES [dbo].[VendingMachines] ([id])
GO
ALTER TABLE [dbo].[Settings_VM] CHECK CONSTRAINT [FK_Settings_VM_VendingMachines]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role])
REFERENCES [dbo].[Roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Companies] FOREIGN KEY([company])
REFERENCES [dbo].[Companies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Companies]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_CriticalThresholdTemplate] FOREIGN KEY([critical_threshold_template])
REFERENCES [dbo].[CriticalThresholdTemplate] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_CriticalThresholdTemplate]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_ModelsMachine] FOREIGN KEY([model])
REFERENCES [dbo].[ModelsMachine] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_ModelsMachine]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_NotificationTemplates] FOREIGN KEY([notification_template])
REFERENCES [dbo].[NotificationTemplates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_NotificationTemplates]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Operators] FOREIGN KEY([operator])
REFERENCES [dbo].[Operators] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Operators]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_ServicePriorities] FOREIGN KEY([service_priority])
REFERENCES [dbo].[ServicePriorities] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_ServicePriorities]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Statuses] FOREIGN KEY([status])
REFERENCES [dbo].[Statuses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Statuses]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Timezones] FOREIGN KEY([timezone])
REFERENCES [dbo].[Timezones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Timezones]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Users]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Users1] FOREIGN KEY([manager])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Users1]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Users2] FOREIGN KEY([engineer])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Users2]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_Users3] FOREIGN KEY([technician])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_Users3]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_WorkModes] FOREIGN KEY([work_mode])
REFERENCES [dbo].[WorkModes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_WorkModes]
GO
ALTER TABLE [dbo].[VM_Payments]  WITH CHECK ADD  CONSTRAINT [FK_VM_Payments_PaymentTypes] FOREIGN KEY([payment_type_id])
REFERENCES [dbo].[PaymentTypes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VM_Payments] CHECK CONSTRAINT [FK_VM_Payments_PaymentTypes]
GO
ALTER TABLE [dbo].[VM_Payments]  WITH CHECK ADD  CONSTRAINT [FK_VM_Payments_VendingMachines] FOREIGN KEY([vm_id])
REFERENCES [dbo].[VendingMachines] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VM_Payments] CHECK CONSTRAINT [FK_VM_Payments_VendingMachines]
GO
USE [master]
GO
